<h1>Список пользователей</h1>
<div class="btn-group">
    <input type="button" value="Добавить" class="btn btn-default" (click)="addUser()" />
    <input type="button" value="Изменить" class="btn btn-default" (click)="editUser()" />
    <input type="button" value="Удалить" class="btn btn-default" (click)="onDelete()" />
</div>
<table class="table table-hover">
  <thead>
      <tr>
          <td>#</td>
          <td>Username</td>
          <td>Department</td>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of userService.userList" (click)="onSelect(user)" class="clickable-row">
            <td>{{user.Id}}</td>
            <td>{{user.UserName}}</td>
            <td>{{user.Department.Title}}</td>
      </tr>
  </tbody>
</table>
