<h1>Список пользователей</h1>
<input type="button" routerLink='/user' value="Добавить" class="btn btn-default" />
<input type="button" value="Изменить" class="btn btn-default" (click)="edit()" />
<input type="button" value="Удалить" class="btn btn-default" (click)="delete()" />

<table class="table table-hover">
  <thead>
      <tr>
          <td>ID</td>
          <td>Username</td>
          <td>Department</td>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of userService.userList" (click)="onSelect(user)" class="clickable-row">
            <td>{{user.Id}}</td>
            <td>{{user.UserName}}</td>
            <td>{{user.Department.Title}}</td>
      </tr>
  </tbody>
</table>
