<form class="col-md-4">
  <div class="form-group" col-md-4>
    <!-- <input class="form-control" name="UserName" #userName="ngModel" [(ngModel)]="userService.selectedUser.username" 
      placeholder="UserName" required/> -->
      <!-- <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">This Field is Required.</div> -->
    <input class="form-control" name="UserName" [(ngModel)]="userService.selectedUser.UserName" placeholder="UserName" required />
  </div>
  <div class="form-group">
    <select id="departmentSelect" name="departmentId" [(ngModel)]="userService.selectedUser.departmentId" class=form-control 
      value="{{userService.selectedUser.departmentId}}">
        <option *ngFor="let dep of departmentService.departmentList" value="{{dep.Id}}"
          [ngValue]="userService.selectedUser.departmentId">{{dep.Title}}</option>
    </select>
  </div>
  <!-- <div class="form-row">
      <div class="form-group col-md-4">
        <button [disabled]="!employeeForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
          <i class="fa fa-floppy-o"></i> Submit</button>
      </div>
      <div class="form-group col-md-4">
        <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(employeeForm)">
          <i class="fa fa-repeat"></i> Reset</button>
      </div>
  </div> -->
</form>
